body{

    margin: 0;
    width: 100vw;
    height: 100vh;

}


#container{

    position: relative;
    width: 100%;
    height: 100%;
}

#header{

    position: relative ;
    width: 100%;
    height: 10%;
    background-color:#fbeb8b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{

    width: 6vw;
    margin-left: 2%;
}

#btn_reserva{

    padding: 1% 2% 1% 2%;
    background-color: #c4643c;
    color: #fbeb8b;
    border: 1px solid #b851bc;
    border-radius: 50%;

}

#cuerpo{
    position: relative;
    width: 100%;
    height: 90%;
    background-color:#f1b9cc;
    padding: 5%;
}

h1{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: xx-large;
}




img{

    margin: 0%;
}


p, h2,h1, a, button, label{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

